MONGODB_URI=mongodb://localhost:27017/Litbee
JWT_SECRET=your_super_secret_key_change_this_in_production
JWT_REFRESH_SECRET=your_super_refresh_secret_key_change_this_in_production
JWT_EXPIRES_IN=7d
PORT=3000
FRONTEND_URL=http://localhost:5174
SHORT_URL_BASE=http://localhost:5174
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_smtp_email@gmail.com
SMTP_PASS=your_smtp_app_password
REDIS_URL="redis://your_redis_connection_string_here"